:root {
  --bg: white;
  --text: black;
  --text-soft: #555;
  --title: #6c4bcf;
}

/* modo oscuro automático */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: black;
    --text: white;
    --text-soft: #aaa;
    --title: #b1b33e; /* corregido */
  }
}

/* modo oscuro manual */
body.dark {
  --bg: black;
  --text: white;
  --text-soft: #aaa;
  --title: #b1b33e;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}

header {
  text-align: center;
  padding: 100px 20px;
}

h1, h2, h3 {
  color: var(--title);
}

p {
  color: var(--text-soft);
}

.card {
  border: 1px solid var(--text-soft);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

/* botón modo oscuro */
#toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  background: none;
  border: 1px solid var(--text-soft);
  color: var(--text);
  padding: 10px;
  cursor: pointer;
}
