:root {
  --primary: #6c4bcf;
  --text: #111;
  --bg: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--bg);
  color: var(--text);
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  background: white;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: var(--text);
  font-weight: 400;
}

.nav a:hover {
  color: var(--primary);
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 40px;
}

.hero h2 {
  font-size: 3rem;
}

.hero span {
  color: var(--primary);
}

.hero p {
  margin-top: 10px;
  font-weight: 300;
}

/* SECTIONS */
.section {
  padding: 100px 40px;
}

.section h3 {
  margin-bottom: 20px;
  font-size: 1.8rem;
}

/* PROJECTS */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  padding: 20px;
  border: 1px solid #eee;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  border-color: var(--primary);
  transform: translateY(-5px);
}

/* ANIMACIONES */
.section {
  opacity: 0;
  transform: translateY(20px);
  transition: 0.6s ease;
}

.section.show {
  opacity: 1;
  transform: translateY(0);
}
